.vscode/**
.vscode-test/**
src/**
.gitignore
.git/**
**/tsconfig.json
**/*.map
**/*.ts
node_modules/.bin/**
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/*.md
node_modules/**/*.ts
**/.eslintrc*
**/.prettierrc*
.github/**
